/* Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Francois+One|Lato');

:root {
    /* Colours */
    --light-grey: #f7f7f7;
    --dark-grey: #414141;
    --white: #fff;

    /* Foreground */
    --orange: #e26e3c;
    --red: #d43e42;
    --yellow: #f4dc5d;
    --blue: #6682b6;

    /* Typography */
    --body-font-color: #414141;
    --body-font-color-alt: #fff;
    --body-font-family: 'Lato', sans-serif;

    /* Headings */
    --header-font-family: 'Francois One', sans-serif;
    --h1: 2.375rem; /* 38px */
    --h2: 1.625rem; /* 26px */
    --h3: 1.5rem; /* 24px */
    --h4: 1.25rem; /* 20px */
    --h5: 1.125rem; /* 18px */

    /* Paragraph */
    --large-para: 1.125rem;
    --xlarge-para: 2.125rem;

    --border-line: #e26e3c;
    --border-line-alt: #fff;
    --icon-color: #e26e3c;
    --icon-color-alt: #fff;

    /* Hamburger */
    --hamburger-background: #e26e3c;
    --hamburger-active-background: #414141;

    /* Navigation */
    --navigation-background: #fff;

    /* Grid */
    --grid-bg: #f7f7f7;

    /* Card */
    --card-background: #fff;
    --card-icon-background: #e26e3c;
    --card-box-shadow: 0 0 5px -1px rgba(var(--body-font-color), .75);

    /* Portfolio */
    --portfolio-hover-state: #e26e3c;

    /* Button */
    --button-color: #e26e3c;
    --button-font-family:  'Francois One', sans-serif;
    --button-icon: #e26e3c;

    /* Avatar */
    --avatar-background: #fff;
    --avatar-border: #414141;

    /* Navigation Ball */
    --ball-background: #414141;

}